.container-main{
    margin-top: 100px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.asesories-description {
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
}

.asesories-description p{
    align-self: center;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.carousel{
    width: 75%;
    height: 800px;
    border-radius: 35px;
    align-self: center;
}

.carouselInner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 35px;
    display: flex;
    transition:1s;
}

.carouselInner .left{
    flex: 5%;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
}

.carouselInner .center{
    flex: 90%;
    height: 100%;
    display: grid;
    place-items: center;
    text-align: justify;
    text-align-last: center;
    color: whitesmoke;
    
}

.carouselInner .center h2{
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 5px;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.carouselInner .right{
    flex: 5%;
    height: 100%;

    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
}

.secondcartest{
    margin-top: 150px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .asesories-description {
        margin-top: 25px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        font-weight: bolder;
        font-size: 20px;
        text-transform: uppercase;
    }
}

@media (max-width: 767px) {
    .asesories-description {
        margin-top: 25px;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        font-weight: bolder;
        font-size: 17px;
        text-transform: uppercase;
    }
}

@media (max-width: 480px) {
    .asesories-description {
        margin-top: 25px;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        font-weight: bolder;
        font-size: 14px;
        text-transform: uppercase;
    }

    .carousel{
        width: 75%;
        height: 550px;
        border-radius: 35px;
        align-self: center;
    }

    .carouselInner .center{
        flex: 90%;
        height: 100%;
        display: grid;
        place-items: center;
        text-align:center;
        text-align-last: center;
        color: whitesmoke;
        
    }

    .carouselInner .center h2{
        background-color: rgb(0, 0, 0, 0.6);
        border-radius: 5px;
        font-family: "Rowdies", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }
}