body {
  font-family: 'Open Sans', Helvetica, sans-serif !important;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.title-phrase {
  text-align: center;
  align-content: center;
  margin-top: 100px;
  margin-left: 16px;
  text-transform: uppercase;
  color: transparent;
   font-family: "Oswald", Helvetica, sans-serif !important;
  font-weight: 700;
  font-style: normal;
  font-size: 50px !important;
  display: inline-block;
  overflow: hidden;
  white-space: wrap;
  -webkit-text-stroke: 5px rgb(82, 82, 82);
}

.description-phrase {
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 25px;
      font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 700;
}

.title-phrase:first-of-type {
  animation: showup 7s infinite;
}

.title-phrase:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

@keyframes slider {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}

.sport-photos {
  overflow: hidden;
  padding: 60px 0;
  white-space:nowrap;
}

.sport-photos-slider {
  display: inline-block;
  animation: 25s slider infinite linear;
}

.sport-photos-slider img {
  height: 250px;
}


.card {
  margin-top: 85px;
  margin-bottom: 65px;
  margin-left: 45px;
  margin-right: 45px;
  width: 400px;
  height: 500px !important;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #93c1201f;
  backdrop-filter: blur(5px);
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
}

.card:hover .card-body {
  right: 0;
}

.card-title {
  text-transform: uppercase;
  font-size: 50px;
   font-family: "Oswald", Helvetica, sans-serif !important;
  font-style: normal;
  font-weight: 500;
  color: #fff !important;
}

.card-info {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
  color: #fff;
      font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .title-phrase {
    text-align: center;
    align-content: center;
    margin-top: 100px;
    margin-left: 16px;
    text-transform: uppercase;
    color: transparent;
    font-weight: 400;
    font-size: 50px !important;
    display: inline-block;
    overflow: hidden;
    white-space: wrap;
    -webkit-text-stroke: 2px rgb(82, 82, 82);
  }

  .description-phrase {
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 25px;
  }

      .logos-slider img {
        height: 150px;
    }
}

@media (max-width: 767px) {
  .title-phrase {
    text-align: center;
    align-content: center;
    margin-top: 100px;
    margin-left: 16px;
    text-transform: uppercase;
    color: transparent;
    font-weight: 400;
    font-size: 40px !important;
    display: inline-block;
    overflow: hidden;
    white-space: wrap;
    -webkit-text-stroke: 2px rgb(82, 82, 82);
  }

  .description-phrase {
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 20px;
  }

      .logos-slider img {
        height: 100px;
    }
}

@media (max-width: 480px) {
  .title-phrase {
    text-align: center;
    align-content: center;
    margin-top: 100px;
    margin-left: 16px;
    text-transform: uppercase;
    color: transparent;
    font-weight: 400;
    font-size: 30px !important;
    display: inline-block;
    overflow: hidden;
    white-space: wrap;
    -webkit-text-stroke: 2px rgb(82, 82, 82);
  }

  .description-phrase {
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 17px;
  }

  .card-title {
    text-transform: uppercase;
    font-size: 25px;
     font-family: "Oswald", Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 500;
    color: #fff !important;
  }

  .card-info {
    font-size: 13px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
    color: #fff;
        font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

    .logos-slider img {
        height: 100px;
    }
}

/* Boton de Whatsapp */
body {
  height: 1500px; /* Solo para simular una página larga */
}

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366!important;
  color: white!important;
  font-size: 1.92rem!important;
  padding: 10px 20px;
  border-radius: 100%!important;
  text-decoration: none;
  z-index: 1000 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 65px;
}

.whatsapp-btn:hover {
  background-color: #128c7e!important;
}

.contact-btn{
  background-color: #94c120 !important;
  font-family: "Oswald", Helvetica, sans-serif !important;;   
}

.contact-btn:hover {
  background-color: #b3e252 !important;
}

.img-method {
  border-radius: 25%;
}

.custom-hr {
  width: 50%;         
  height: 2px;          
  background-color: #ccc; 
  border: none;         
  margin: 20px 0;    
}